<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/story.controller.js"></script>
    <script src="js/services/story.service.js"></script>
  </head>
  <body ng-app="heaven">
  <ion-nav-view>
<ion-view name="detail">
	<ion-content class="has-header padding">
	    <div class="list card">
		  <div class="item item-avatar">
		  	<img class="full-image" src="./img/logo.png">
		    <h2>{{story.Title}}</h2>
		    <p>{{CurrentDate | date:'dd, MMMM yyyy'}}</p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="./img/stories/{{story.Image}}">
		    <p>
		      {{story.Content}}
		    </p>
		    <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>
		</div>
  	</ion-content>
</ion-view>
</ion-nav-view>
  </body>
</html>